.loader {
  width: 46px;
  height: 46px;
  border: 7px solid #e0e6e9;
  border-top: 7px solid #525153;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}