doctype html
html(lang="en" ng-app="libraryApp")
head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  title My AngularJS App
  meta(name="description" content="")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  link(rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css")
  link(rel="stylesheet" href="app.css")
  script(type="text/javascript" src="bower_components/jquery/dist/jquery.min.js")
body
  .container
    nav(class="navbar navbar-default")
      a(class="navbar-brand" ui-sref="home") Navbar
      ul(class="nav navbar-nav")
        li(class="nav-item active")
          a(class="nav-link" ui-sref="home") Home
          span(class="sr-only") (current)
        li(class="nav-item")
          a(class="nav-link" ui-sref="feature") Features
        li(class="nav-item")
          a(class="nav-link" ui-sref="pricing") Pricing
        li(class="nav-item")
          a(class="nav-link" ui-sref="about") About
      form(class="navbar-form navbar-left" role="search")
        .row
          .col-lg-12
            .input-group
              input(class="form-control" type="text" ng-model="searchTerm" placeholder="Search")
              span(class="input-group-btn")
                button(class="btn btn-default" ui-sref="search({q: searchTerm})" type="button") Go!

  .container
    div(ui-view)

  script(src="bower_components/angular/angular.js")
  script(src="bower_components/angular-ui-router/release/angular-ui-router.min.js")
  script(src="bower_components/angular-resource/angular-resource.min.js")
  script(src="app.js")
  script(src="controller/editController.js")
  script(src="controller/homeController.js")
  script(src="controller/searchController.js")
  script(src="service/libAppService.js")
